@import 'solarized';

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3)
{
    background-color:$rebase03;
    color:$rebase2;
    * { color:$rebase2; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    .bio .exp { background: $rebase02;}
}

@mixin bullets($name, $link-color) {
  .#{$name} {
    .left:before {
        background: $link-color;
    }
  }
}

@mixin links($link) {
  a, a:active, a:visited, code.url { color: $link; }
  .flash {
      color: $link !important;
  }
  .feather {
      stroke: $link
  }
}

@mixin title {
  .title {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    margin: .8em 0;
  }
  .title:before {
    content: '[+] ';
  }
}

@mixin section {
  margin: 0 0 2em 0;
  .exp {
    display: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 2em 0;
    }
  }
}

:root {
  color-scheme: light dark; /* both supported */
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: .8em;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

.light {
  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
  @include bullets("job", $green);
  @include bullets("event", $magenta);
  @include bullets("fun", $blue);
  @include links($blue);
}

.dark  {
  @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
  @include bullets("job", $green);
  @include bullets("event", $red);
  @include bullets("fun", $cyan);
  @include links($orange);
}

.container {
  max-width: 840px;
}
h1 {
  font-weight: 400;
  margin: 0;
}
h2 {
  font-weight: 300;
  margin: 0 0 .5em 0;
}

.links {
  margin: 0 0 1.5em 0;
  a {
    margin: auto 1em auto 0;
  }
}

.intro {
  @include title();
  @include section();

}
.changelog {
  @include title();
  @include section();

  li {
    display: flex;
    justify-content: flex-start;
    .left {
      font-weight: 300;
      min-width: 18em;
    }
    .desc {
      display: flex;
      flex-direction: column;
      .info {
        visibility: hidden;
        max-height: 0;
        transition: visibility 0s, max-height 0.5s linear;
      }
      .desc-points li{
        margin-top: 0;
      }
      p {
        margin: 0;
      }
    }
    .desc:hover .info {
      visibility: visible;
      max-height: 100px;
      transition: max-height 0.5s linear;
    }
    .left:before {
      content: '';
      display: inline-block;
      width: .7em;
      height: .7em;
      border-radius: 100%;
      margin: 0 2em 0 0;
    }
  }
  .loading {
    animation: blinker 1s linear infinite;
    margin: 1em 0 0 0;
    .hide {
      display: none;
    }
  }
}

.bio {
  @include title();
  @include section();
  .exp {
    line-height: 1.8em;
    margin: 2em 0 0 0;
    padding: 0.8em 1.2em;
  }
}

.expand {
  .title {
    cursor: pointer;
  }
  .title:before {
    content: '[-] ';
  }
  .exp {
    display: block;
  }
}

.feather {
  width: 24px;
  height: 24px;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

@media (max-width: 600px) {
  .changelog li .left {
    min-width: 160px;
  }
  .links a {
    margin: auto 1.5em auto 0;
  }
}