body {
  background: #FDF6E3;
  color: #657B83;
  font-family: 'Source Code Pro', monospace;
  font-size: .8em;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 840px;
}
h1 {
  font-weight: 400;
  margin: 0;
}
h2 {
  color: #586E75;
  font-weight: 300;
  margin: 0 0 .5em 0;
}
.links {
  margin: 0 0 1.5em 0;
}
.links a {
  color: #657B83;
  margin: auto 1em auto 0;
}
.intro {
  margin: 0 0 2em 0;
}
.intro a {
  color: #268BD2;
  text-decoration: none;
}
.intro .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.intro .title:before {
  content: '[+] ';
}
.intro .exp {
  display: none;
}
.intro ul {
  list-style-type: none;
  padding: 0;
}
.intro ul li {
  margin: 2em 0;
}
.changelog {
  margin: 0 0 2em 0;
}
.changelog a {
  color: #268BD2;
  text-decoration: none;
}
.changelog .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.changelog .title:before {
  content: '[+] ';
}
.changelog .exp {
  display: none;
}
.changelog ul {
  list-style-type: none;
  padding: 0;
}
.changelog ul li {
  margin: 2em 0;
}
.changelog li {
  display: flex;
  justify-content: flex-start;
}
.changelog li .left {
  color: #586E75;
  font-weight: 300;
  min-width: 200px;
}
.changelog li .left:before {
  content: '';
  display: inline-block;
  width: .7em;
  height: .7em;
  border-radius: 100%;
  margin: 0 2em 0 0;
}
.changelog li .empty-left {
  min-width: 200px;
}
.changelog li .desc {
  display: flex;
  flex-direction: column;
}
.changelog li .desc .info {
  visibility: hidden;
  max-height: 0;
  transition: visibility 0s, max-height 0.5s linear;
}
.changelog li .desc:hover .info {
  visibility: visible;
  max-height: 100px;
  transition: max-height 0.5s linear;
}
.changelog .loading {
  animation: blinker 1s linear infinite;
  margin: 1em 0 0 0;
}
.changelog .loading.hide {
  display: none;
}
.updates {
  margin: 0 0 2em 0;
}
.updates a {
  color: #268BD2;
  text-decoration: none;
}
.updates .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.updates .title:before {
  content: '[+] ';
}
.updates .exp {
  display: none;
}
.updates ul {
  list-style-type: none;
  padding: 0;
}
.updates ul li {
  margin: 2em 0;
}
.updates .loading {
  animation: blinker 1s linear infinite;
  margin: 1em 0 0 0;
}
.updates .loading.hide {
  display: none;
}
.bio {
  margin: 0 0 2em 0;
}
.bio a {
  color: #268BD2;
  text-decoration: none;
}
.bio .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.bio .title:before {
  content: '[+] ';
}
.bio .exp {
  display: none;
}
.bio ul {
  list-style-type: none;
  padding: 0;
}
.bio ul li {
  margin: 2em 0;
}
.bio .exp {
  background: #EEE8D5;
  line-height: 1.8em;
  margin: 2em 0 0 0;
  padding: 0.8em 1.2em;
}
.expand .title {
  cursor: pointer;
}
.expand .title:before {
  content: '[-] ';
}
.expand .exp {
  display: block;
}
@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}
.end {
  margin: 0 0 2em 0;
}
.end a {
  color: #268BD2;
  text-decoration: none;
}
.end .title {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin: .8em 0;
}
.end .title:before {
  content: '[+] ';
}
.end .exp {
  display: none;
}
.end ul {
  list-style-type: none;
  padding: 0;
}
.end ul li {
  margin: 2em 0;
}
.job .left:before {
  background: #859900;
}
.job em {
  color: #859900;
  font-style: normal;
}
.event .left:before {
  background: #D33682;
}
.event em {
  color: #D33682;
  font-style: normal;
}
.fun .left:before {
  background: #268BD2;
}
.fun em {
  color: #268BD2;
  font-style: normal;
}
.flash {
  animation: 1s flash infinite;
}
@keyframes flash {
  0% {
    text-shadow: 0px 0px 5px #cacacc;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 5px #cacacc;
  }
}
@media (max-width: 600px) {
  .changelog li .left {
    min-width: 160px;
  }
  .links a {
    margin: auto 1.5em auto 0;
  }
}
